/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-padding: 100px;
    --text-color: #666666;
    --main-shadow: #c3c1c1;
    --section-background:#ececec;     
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  /* overflow-x: hidden; */
  font-family: "Cairo", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.features 
, .articles 
, .gallery
, .testi 
, .services 
, .team
, .skills
, .works
, .events 
, .pricing
, .top
, .stats
, .request {
  position: relative;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  z-index: 0;
}

.gallery 
, .testi 
, .services
, .works
, .pricing
, .stats {
  background-color: var(--section-background);
}

.cap-text {
  text-transform: capitalize;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* end global rules  */
/* start of component */
.special-head {
  position: relative;
  font-size: 30px;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto;
  border: 2px solid;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.special-head:hover {
  border-color: white;
  color: white;
  transition-delay: 0.6s;
}

.special-head:hover::before {
  animation: reaching-left 0.7s 1 forwards;
}

.special-head:hover::after {
  animation: reaching-right 0.7s 1 forwards;
}

.special-head::before , .special-head::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  z-index: -1;
}
.special-head::before {
  left: -30px;
}
.special-head::after {
  right: -30px;
}

@keyframes reaching-left {
  90% {
    left: 0;
  }
  91% {
    left: 0;
    border-radius: 0;
  }
  100% {
    left: 0;
    border-radius: 0;
    height: 100%;
    width: 50%;
  }
}

@keyframes reaching-right {
  90% {
    right: 0;
  }
  91% {
    right: 0;
    border-radius: 0;
  }
  100% {
    right: 0;
    border-radius: 0;
    height: 100%;
    width: 50%;
  }
}
.dots-up , .dots-down {
  position: absolute;
  z-index: 0;
}
.dots-up {
  top: var(--main-padding);
  right: 0;
}
.dots-down {
  bottom: var(--main-padding);
  left: 0;
}
/* end of component */
/* start of header  */

header {
  background-color: white;
  box-shadow: -1px 1px 5px 0 #c3c1c1;
}

header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
  }
}

header .container > a {
  font-size: 25px;
  padding: 15px;
  color: var(--main-color);
  font-weight: 700;
}

header .container > ul {
  display: flex;
}


header .container > ul > li {
  position: relative;
  font-size: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  header .container > ul > li {
    font-size: 15px;
    padding: 15px;
  }
}

header .container > ul > li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  transition:width 0.5s;
}

header .container > ul  > li:hover::before {
  width: 100%;
}

header .container > ul > li:hover a{
  color: var(--main-color);
}

header .container > ul > li:hover + div , .sections:hover {
  visibility: visible;
  top: 101%;
}

.sections {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  left: 0;
  top: 150%;
  border-bottom: 3px solid var(--main-color);
  visibility: hidden;
  transition:top 0.5s;
  z-index: 2;
}

.sections img {
  display: none;
}

.sections ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.sections ul li {
  padding: 10px;
  margin-bottom: 5px;
  color: var(--main-color);
  flex-basis: 90%;
  border-bottom: 1px solid #ebebeb;
}

.sections ul a {
  font-size: 18px;
  color: var(--main-color);
  font-weight: 600;
}

.sections ul li i {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .sections {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .sections {
    width: 970px;
  }
  .sections ul li {
    flex-basis: 45%;
  }
}

/* Large */
@media (min-width: 1200px) {
  .sections {
    width: 1170px;
  }
  .sections ul {
    flex-basis: 50%;
  }
  .sections img {
    display: block;
  }
}
/* end of header  */
/* start of landing  */
.landing {
  position: relative;
  background-color: #ececec;
  height: 100vh;
  overflow: hidden;
}

.landing::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 150%;
  height: 35%;
  bottom: -15%;
  transform: rotate(-5deg);
}

.landing > .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.landing > .container .image{
  flex-basis: 50%;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: up-down 4s linear infinite;
}

@media (max-width: 992px) {
  .landing > .container .image {
    display: none;
  }
  .landing > .container {
    height: 70%;
    justify-content: center;
  }
}

.landing > .container img {
  max-width: 100%;
}

.landing > .container .text{
  flex-basis: 40%;
}

@media (max-width: 992px) {
  .landing>.container .text {
    flex-basis: 80%;
    text-align: center;
  }
}

.landing > .container .text h1{
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0;
}

.landing > .container .text p{
  font-size: 25px;
  line-height: 1.5;
  color: var(--text-color);
  margin-top: 5px;
}

@media (max-width: 768px) {
  .landing>.container .text h1 {
    font-size: 30px;
  }

  .landing>.container .text p {
    font-size: 20px;
  }
}

.landing > a{
  display: block;
  width: fit-content;
  margin: auto;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  color: var(--main-color);
  z-index: 2;
  animation: jump 1.5s ease-in infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.landing > a:hover {
  color: var(--main-color-alt);
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes jump {
  0% , 40% , 80% , 100% {
    transform: translate(-50% , 0px);
  }
  20% , 60% {
    transform: translate(-50% , -10px);
  }
}
/* end of landing  */
/* start of article */
.articles-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles-cont .article {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 3px 10px 0 #e6e6e6;
  transition-duration: 0.3s;
}

.articles-cont .article:hover {
  top: -5px;
  box-shadow: 0px 3px 10px 0 #c3c1c1;
}

.articles-cont .article:hover i {
  animation: pointing 0.7s infinite;
}

.articles-cont .article img{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  max-width: 100%;
}

.articles-cont .article .text {
  padding: 10px;
}

.articles-cont .article .text h2 {
  font-size: 20px;
}

.articles-cont .article .text p {
  color: var(--text-color);
  line-height: 1.5;
}

.articles-cont .article div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
  padding: 20px;
  font-size: 14px;
  border-top: 1px solid #e6e6e6;
}

.articles-cont .article div:last-child h3 {
  margin: 0;
}

@keyframes pointing {
  0% , 100%{
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}
/* end of article */
/* start of gallery */
.gallery {
  position: relative;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--section-background);
  z-index: 0;
}

.gallery .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}

.gallery .container .image {
  position: relative;
  flex-basis: 30%;
  max-width: 100%;
  border: 15px solid white;
  box-shadow: 0px 0px 10px 0 rgb(0 0 0 / 30%);
  overflow: hidden;
}

.gallery .container .image::before {
  content: "";
  position: absolute;
  background-color: rgb(255 255 255 / 30%);
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  z-index: 1;
}

.gallery .container .image img {
  height: 100%;
  max-width: 100%;
  transition-duration: 0.3s;
}

.gallery .container .image:hover img {
  transform: scale(1.1) rotate(5deg);
}

.gallery .container .image:hover::before {
  animation: flash 0.3s;
}

@keyframes flash {
  0% {
    width: 0;
    height: 0;
  }
  99% {
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 20%);
  }
  100% {
    background-color: transparent;
  }
}

@media (max-width: 992px) {
  .gallery .container .image {
    flex-basis: 45%;
  }
}

@media (max-width: 768px) {
  .gallery .container .image {
    flex-basis: 100%;
  }
}
/* end of gallery */
/* start of features */
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(280px , 1fr));
  gap: 40px;
}

.features .container .feature {
  border: 1px solid #c9c9c9;
}

.features .container .image {
  position: relative;
  overflow: hidden;
}

.features .container .feature:hover .image::after {
  transform: skewY(16deg) scaleY(3);
  transition-duration: 0.3s;
}

.features .container .image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15%;
  right: 0;
  bottom: 0;
  background-color: white;
  transform-origin: center;
  transform: skewY(-16deg) scaleY(3);
  /* z-index: 1; */
}

.features .container .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.feature:nth-child(2) .image::before {
  background-color: #009688;
}
.feature:first-child .image::before {
  background-color: #f44036;
}
.feature:last-child .image::before {
  background-color: #03a9f4;
}

.features .container .image img {
  max-width: 100%;
}

.features .container .text h2 {
  position: relative;
  font-size: 40px;
  margin: 0;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}

.features .container .text h2::before {
  content: "";
  position: absolute;
  width: 55%;
  height: 5px;
  bottom: 0;
}

.feature:nth-child(2) .text h2::before , .feature:nth-child(2) a::before {
  background-color: #009688;
}

.feature:first-child .text h2::before , .feature:first-child a::before {
  background-color: #f44036;
}

.feature:last-child .text h2::before  , .feature:last-child a::before{
  background-color: #03a9f4;
}

.features .container .text p {
  font-size: 20px;
  text-align: center;
  line-height: 2;
  color: var(--text-color);
  margin: 30px;
}

.features .container a {
  display: block;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  width: fit-content;
  padding: 10px 25px;
  margin: 0 auto 20px;
  border: 3px solid;
  border-radius: 5px;
}

.features .container a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition-duration: 0.3s;
  z-index: -1;
}

.features .container a:hover {
  color: white;
  /* transition-delay: 0.2s; */
}

.features .container a:hover::before {
  width: 100%;
}

.feature:nth-child(2) a {
  color: #009688;
  border-color: #009688;
}

.feature:first-child a {
  color: #f44036;
  border-color: #f44036;
}

.feature:last-child a {
  color: #03a9f4;
  border-color: #03a9f4;
}
/* end of features */
/* start of testimonials */

.testi .special-head {
  margin-bottom: 110px;
}
.testi .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.testi .container .test {
  position: relative;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  padding: 20px;
}

.testi .container .test h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.testi .container .test p {
  margin: 0;
  color: var(--text-color);
}

.testi .container .test .image {
  width: 90px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: -11px;
  background-color: var(--section-background);
}

.testi .container .test img {
  max-width: 100%;
  border-radius: 50%;
  padding: 10px;
}

.testi .container .test .stars {
  margin-top: 10px;
  margin-bottom: 10px;
}

.testi .container .test .stars + p {
  line-height: 1.5;
}
/* end of testimonials */
/* start of team */
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team .container .member {
  position: relative;
  padding-top: 60px;
  padding-bottom: 5px;
}
.team .container .member:hover img {
  filter: grayscale();
}
.team .container i:hover {
  color: var(--main-color);
}
.team .container .member:hover::after {
  width: 80%;
}
.team .container .member::before {
  content: "";
  position: absolute;
  background-color: #f0f0f0;
  width: 80%;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 10px;
  z-index: -1;
}
.team .container .member::after {
  content: "";
  position: absolute;
  background-color: #d7d7d7;
  opacity: 0.4;
  width: 0;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 10px;
  z-index: 1;
  transition-duration: 0.3s;
}
.team .container .member .content {
  position: relative;
  justify-content: space-between;
  z-index: 2;
}
.team .container .member .image {
  flex-basis: 80%;
  border-radius: 10px;
  overflow: hidden;
}
.team .container .member img {
  max-width: 100%;
}
.team .container .member .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
  color: var(--text-color);
}
.team .container .member .socials i {
  padding: 15px;
}
.team .container .member .text {
  position: relative;
  padding-left: 25%;
}
.team .container .member .text h2 {
  margin-bottom: 0;
  color: var(--main-color);
}
.team .container .member:hover h2 {
  color: var(--text-color);
}
/* end of team */
/* start of services */
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .serv {
  position: relative;
  background-color: white;
  padding-top: 35px;
  counter-increment: serv-count;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  transition: 0.3s;
}
.services .serv::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: var(--main-color);
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.services .serv:hover::before {
  width: 100%;
}
.services .serv:hover {
  transform: translateY(-10px);
}
.services .serv i {
  display: block;
  color: #d9d9d9;
  font-size: 55px;
  text-align: center;
  margin-bottom: 20px;
}
.services .serv h2 {
  color: var(--main-color);
  text-align: center;
  margin-bottom: 35px;
}
.services .serv div {
  position: relative;
  padding: 15px;
  text-align: right;
  background-color: #f9f9f9;
}
.services .serv div::before {
  content: "0" counter(serv-count);
  position: absolute;
  width: 70px;
  height: 100%;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: white;
  padding-right: 30px;
}
.services .serv div::after{
  content: "";
  position: absolute;
  width: 60px;
  height: 100%;
  background-color: #d9d9d9;
  top: 0;
  left: 77px;
  transform: skewX(-40deg);
}
.services .serv div a {
  color: var(--main-color);
}
.services .serv div a:hover {
  color: var(--main-color-alt);
}
/* end of services */
/* start of our skills */
.skills .container {
  display: flex;
}
.skills .container .image {
  flex-basis: 40%;
}
@media (max-width: 992px) {
  .skills .container .image {
    display: none;
  }
}
.skills .container .skills-cont {
  flex: 1;
}
.skills .container .skill div {
  position: relative;
  background-color: var(--section-background);
  padding: 15px;
}
.skills .container .skill div::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  height: 100%;
}
.skills .container .skill:first-child div::before {
  width: 80%;
}
.skills .container .skill:nth-child(2) div::before {
  width: 85%;
}
.skills .container .skill:nth-child(3) div::before {
  width: 70%;
}
.skills .container .skill:last-child div::before {
  width: 80%;
}
.skills .container .skill div::after {
  content: "";
  color: var(--main-color);
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 800;
  position: absolute;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  top: -30px;
  right: 5px;
}
.skills .container .skill:first-child div::after
, .skills .container .skill:last-child div::after {
  content: "80%";
}
.skills .container .skill:nth-child(2) div::after {
  content: "85%";
}
.skills .container .skill:nth-child(3) div::after {
  content: "70%";
}
.skills .container .skill h2 {
  font-size: 20px;
}
/* end of our skills */
/* start of works */
.works .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works .container .image {
  flex-basis: 40%;
}
@media (max-width: 992px) {
  .works .container {
    flex-direction: column;
  }
  .works .container .image {
    margin-bottom: 20px;
  }
}
.works .container .image img {
  max-width: 100%;
}
.works .container .steps {
  flex-basis: 55%;
}
.works .container .step {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f5f5;
  padding: 20px;
  margin: 20px;
  border: 2px solid white;
  border-radius: 5px;
}
.works .container .step::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: var(--section-background);
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  /* opacity: 0.5; */
  transition: 0.3s;
  /* z-index: 1; */
}
.works .container .step:hover::before {
  width: 100%;
  height: 100%;
}
.works .container .step-img {
  position: relative;
  width: 130px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .works .container .step {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .works .container .step-img {
    width: 70px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .works .container .step .text {
    text-align: center; 
  }
}
.works .container .step .text {
  position: relative;
}
.works .container .step-img img {
  max-width: 100%;
}
.works .container .step .text h2 {
  margin: 0;
  font-size: 20px;
}
.works .container .step .text p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-color);
  margin-bottom: 0;
}
/* end of our works */
/* start of events  */
.events .container {
  position: relative;
  z-index: 1;
}
.events .content {
  display: flex;
}
.events .content .date {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin: 40px 0;
}
.events .content .field {
  background-color: white;
  width: 75px;
  border: 1px solid #d1d1d1;
  text-align: center;
  border-radius: 7px;
}
.events .content .field h3 {
  color: var(--main-color);
  margin: 15px;
  font-size: 36px;
}
.events .content .field span {
  display: block;
  border-top: 1px solid #d1d1d1;
  padding: 5px 0;
  font-size: 14px;

}
.events .content .field:hover , .events .content .field:hover span{
  border-color: var(--main-color);
}
.events .content .image {
  flex-basis: 70%;
}
@media (max-width: 992px) {
  .events .content .image {
    display: none;
  }
}
.events .content .image img {
  max-width: 100%;
}
.events .content h2 {
  text-align: center;
  font-size: 30px;
}
.events .content p {
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
  line-height: 1.8;
}

.events .subs {
  max-width: 600px;
  margin: 50px auto;
  margin-bottom: 0;
  background-color: var(--section-background);
  padding: 20px;
  border-radius: 40px;
  display: flex;
  gap: 20px;
}
.events .subs input[type = "text"]{
  padding: 20px;
  border: none;
  border-radius: 40px;
  flex: 1;
}
.events .subs input[type="text"]:focus {
  outline: none;
}
.events .subs input[type="text"]::placeholder {
  text-transform: capitalize;
}
.events .subs input[type = "button"]{
  padding: 20px;
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  border: none;
  border-radius: 40px;
}
.events .subs input[type="button"]:hover {
  background-color: var(--main-color-alt);
  cursor: pointer;
}

@media (max-width: 768px) {
  .events .subs {
    flex-direction: column;
    border-radius: 0;
  }
  .events .subs input[type="text"] , .events .subs input[type="button"] {
    border-radius: 0;
  }
}
/* end of events  */
/* start of pricing  */
/* end of pricing  */
/* queries */
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}