/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.cap-text {
  text-transform: capitalize;
}
/* end global rules  */
/* start of header  */

header {
  background-color: white;
  box-shadow: -1px 1px 5px 0 #c3c1c1;
}

header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
  }
}

header .container > a {
  font-size: 25px;
  padding: 15px;
  color: var(--main-color);
  font-weight: 700;
}

header .container > ul {
  display: flex;
}


header .container > ul > li {
  position: relative;
  font-size: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  header .container > ul > li {
    font-size: 15px;
    padding: 15px;
  }
}

header .container > ul > li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  transition:width 0.5s;
}

header .container > ul  > li:hover::before {
  width: 100%;
}

header .container > ul > li:hover a{
  color: var(--main-color);
}

header .container > ul > li:hover + div , .sections:hover {
  visibility: visible;
  top: 101%;
}

.sections {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  left: 0;
  top: 150%;
  border-bottom: 3px solid var(--main-color);
  visibility: hidden;
  transition:top 0.5s;
}

.sections img {
  display: none;
}

.sections ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.sections ul li {
  padding: 10px;
  margin-bottom: 5px;
  color: var(--main-color);
  flex-basis: 90%;
  border-bottom: 1px solid #ebebeb;
}

.sections ul a {
  font-size: 18px;
  color: var(--main-color);
  font-weight: 600;
}

.sections ul li i {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .sections {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .sections {
    width: 970px;
  }
  .sections ul li {
    flex-basis: 45%;
  }
}

/* Large */
@media (min-width: 1200px) {
  .sections {
    width: 1170px;
  }
  .sections ul {
    flex-basis: 50%;
  }
  .sections img {
    display: block;
  }
}
/* end of header  */
/* start of landing  */
.landing {
  background-color: #ececec;
}
/* end of landing  */
