/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-padding: 100px;
    --text-color: #666666;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  /* overflow-x: hidden; */
  font-family: "Cairo", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.cap-text {
  text-transform: capitalize;
}
/* end global rules  */
/* start of header  */

header {
  background-color: white;
  box-shadow: -1px 1px 5px 0 #c3c1c1;
}

header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
  }
}

header .container > a {
  font-size: 25px;
  padding: 15px;
  color: var(--main-color);
  font-weight: 700;
}

header .container > ul {
  display: flex;
}


header .container > ul > li {
  position: relative;
  font-size: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  header .container > ul > li {
    font-size: 15px;
    padding: 15px;
  }
}

header .container > ul > li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  transition:width 0.5s;
}

header .container > ul  > li:hover::before {
  width: 100%;
}

header .container > ul > li:hover a{
  color: var(--main-color);
}

header .container > ul > li:hover + div , .sections:hover {
  visibility: visible;
  top: 101%;
}

.sections {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  left: 0;
  top: 150%;
  border-bottom: 3px solid var(--main-color);
  visibility: hidden;
  transition:top 0.5s;
  z-index: 2;
}

.sections img {
  display: none;
}

.sections ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.sections ul li {
  padding: 10px;
  margin-bottom: 5px;
  color: var(--main-color);
  flex-basis: 90%;
  border-bottom: 1px solid #ebebeb;
}

.sections ul a {
  font-size: 18px;
  color: var(--main-color);
  font-weight: 600;
}

.sections ul li i {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .sections {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .sections {
    width: 970px;
  }
  .sections ul li {
    flex-basis: 45%;
  }
}

/* Large */
@media (min-width: 1200px) {
  .sections {
    width: 1170px;
  }
  .sections ul {
    flex-basis: 50%;
  }
  .sections img {
    display: block;
  }
}
/* end of header  */
/* start of landing  */
.landing {
  position: relative;
  background-color: #ececec;
  height: 100vh;
  overflow: hidden;
}

.landing::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 150%;
  height: 35%;
  bottom: -15%;
  transform: rotate(-5deg);
}

.landing > .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.landing > .container .image{
  flex-basis: 50%;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: up-down 4s linear infinite;
}

@media (max-width: 992px) {
  .landing > .container .image {
    display: none;
  }
  .landing > .container {
    height: 70%;
    justify-content: center;
  }
}

.landing > .container img {
  max-width: 100%;
}

.landing > .container .text{
  flex-basis: 40%;
}

@media (max-width: 992px) {
  .landing>.container .text {
    flex-basis: 80%;
    text-align: center;
  }
}

.landing > .container .text h1{
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0;
}

.landing > .container .text p{
  font-size: 25px;
  line-height: 1.5;
  color: var(--text-color);
  margin-top: 5px;
}

@media (max-width: 768px) {
  .landing>.container .text h1 {
    font-size: 30px;
  }

  .landing>.container .text p {
    font-size: 20px;
  }
}

.landing > a{
  display: block;
  width: fit-content;
  margin: auto;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  color: var(--main-color);
  z-index: 2;
  animation: jump 1s ease-in infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes jump {
  0% , 40% , 80% , 100% {
    transform: translate(-50% , 0px);
  }
  20% , 60% {
    transform: translate(-50% , -10px);
  }
}
/* end of landing  */
